$white-color: #fff;
$shadow-color: #444;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0;

  &__input {
    box-shadow: 0px 0px 3px $shadow-color;
    width: 85%;
    height: 50px;
    padding: 10px 15px;
    margin: 20px 0;
    font-size: 20px;
    color: $shadow-color;
    line-height: 25px;
    position: relative;

    &__icon {
      position: absolute;
      left: 10px;
      top: 14px;
    }

    input {
      border: none;
      font-size: 15px;
      padding: 0 25px;
      height: 100%;
      outline: none;
      color: $shadow-color;
    }

    .eye {
      position: absolute;
      right: 15px;
      top: 14px;
      color: #444;
      cursor: pointer;
      transition: all 300ms;
    }

    .eye:hover {
      color: #666;
    }
  }

  &__btn {
    width: 85%;
    height: 50px;
    margin: 60px 0;
    border: none;
    color: $white-color;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(217, 81, 81);
    transition: background 300ms;
  }

  &__forget {
    align-self: flex-end;
    margin-right: 30px;
    font-size: 13px;
    cursor: pointer;
    color: $shadow-color;
    border-bottom: 1px solid $white-color;
    transition: all 300ms;
  }

  &__forget:hover {
    border-bottom: 1px solid #555;
  }

  &__btn:hover {
    background-color: rgb(217, 81, 81, 0.9);
  }
}
