@mixin flex($dFlex, $fWrap, $fDirection, $jContent, $aItems) {
  display: $dFlex;
  flex-wrap: $fWrap;
  flex-direction: $fDirection;
  justify-content: $jContent;
  align-items: $aItems;
}

$main-color: rgb(217, 81, 81);
$background: rgb(30, 29, 29);
$border-white: #fff;

.footer {
  @include flex(flex, wrap, row, space-between, center);
  width: 100%;
  height: 280px;
  background-color: $background;
  padding: 0 45px;
  color: #fff;

  &__download {
    @include flex(flex, wrap, column, space-evenly, center);
    gap: 20px;

    &__title {
      font-size: 17px;
      font-weight: bold;
      border-bottom: 1px solid $border-white;
    }

    &__parrafo {
      text-align: center;
      font-size: 15px;
    }

    &__img {
      width: 170px;
    }
  }

  &__header {
    &__title {
      text-align: center;
      font-size: 60px;
      letter-spacing: 3px;
      color: $main-color;
      margin: 10px 0;
    }

    &__span {
      display: block;
      font-size: 13px;
      text-align: center;
      margin: 15px 0;
    }
  }

  &__links {
    &__title {
      text-align: center;
      font-size: 17px;
      width: 120px;
      margin: auto;
      border-bottom: 1px solid $border-white;
    }

    .socials {
      @include flex(flex, wrap, column, center, center);
      margin: 20px 0;
      gap: 15px;

      &__item {
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        transition: all 300ms;
      }

      &__item:hover {
        color: $main-color;
      }
    }
  }
}

@media screen and (max-width: 865px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
    gap: 40px;

    &__header {
      order: 1;
    }

    &__download {
      order: 2;
    }

    &__links {
      order: 3;
    }
  }
}

@media screen and (max-width: 380px) {
  .footer {
    &__header {
      &__title {
        font-size: 45px;
      }
    }

    &__download {
      &__title {
        font-size: 15px;
      }

      &__parrafo {
        font-size: 13px;
      }

      &__img {
        width: 120px;
      }
    }

    &__links {
      &__title {
        font-size: 18px;
        width: 100px;
      }

      .socials {
        &__item {
          font-size: 15px;
        }
      }
    }
  }
}
